In [85]:
import pandas as pd

In [86]:
# !pip install mysql-connector-python

In [87]:
# !pip install pandas mysql-connector-python

In [88]:


import pandas as pd
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="django",
    password="django-user-password",
    database="citizen_base"
)

# Create a cursor object
cursor = conn.cursor()

# Execute SQL query
query = "SELECT * FROM boards_post;"
cursor.execute(query)

# Fetch all rows of data
result = cursor.fetchall()

# Convert the result into a Pandas DataFrame
df = pd.DataFrame(result, columns=[column[0] for column in cursor.description])

# Close the cursor and connection
cursor.close()
conn.close()

In [89]:
df

,id,message,created_at,updated_at,created_by_id,topic_id,updated_by_id,Adress,image
0,19,It was very crowd from 17 to 20,2023-04-05 18:08:59.568194,None,2,18,None,Chamran from Atisaz to Koynasr,MIT-Coding-Brain-01-press_0_BsdaAGw.jpg
1,20,Im agree with u,2023-04-05 19:31:04.263294,None,3,18,None,None,
2,21,The hospital was dirty and the crowd,2023-04-06 09:54:43.534209,None,10,20,None,Shariati Hospital,download_LeuCf8s.png
3,22,Valiasr BRT line is always crowd and its buses...,2023-04-06 12:39:43.075281,None,11,21,None,Valiasr BRT line,University_of_Tehran_logo.svg_pzClTYJ.png
4,23,Im agree with you,2023-04-12 21:53:22.773388,None,11,20,None,None,
5,24,This is test message,2023-04-12 22:17:42.918956,None,12,22,None,Test Adress,MIT-Coding-Brain-01-press_0_PlvDsEm.jpg
6,25,Hi Im Ali\r\nand it is a test twit from me,2023-04-15 04:02:37.251020,None,13,25,None,Test Adress,MIT-Coding-Brain-01-press_0_jz82lWz.jpg
7,26,Test without iamge,2023-04-15 08:22:49.649064,None,2,26,None,Test Add,
8,27,Test without iamge,2023-04-15 08:24:19.871846,None,2,27,None,Test Add,
9,28,andvjlnv ldcvojsnv kjdncsjln lanv,2023-04-15 16:35:45.573260,None,2,28,None,nxcvjnsvlsm,
10,29,Im in 25 street in Thran and here i saw some r...,2023-04-19 16:57:11.431199,None,14,29,None,25 street,University_of_Tehran_logo.svg_U8LLumW.png
11,30,The Thiefs are stealing student cellphones and...,2023-04-20 19:00:57.763404,None,14,30,None,Koy Daneshgah,University_of_Tehran_logo.svg_qCcufWc.png
12,31,University of Tehran is one of the most import...,2023-04-20 19:55:52.400062,None,14,31,None,Test,
13,32,University of Science and Technology is in the...,2023-04-20 19:57:02.976854,None,14,32,None,Thehran,
14,33,Amirkabir University is one of the best techni...,2023-04-20 19:58:28.313607,None,14,33,None,Amirkabir,
15,34,Sharif university of technology is the best un...,2023-04-20 19:59:21.748765,None,14,34,None,Sharif,
16,35,Enghelab Square in Tehran was really crowd,2023-04-20 20:02:23.193787,None,14,35,None,Enghlab,
17,36,Today i was in Azadi twoer it is a great place...,2023-04-20 20:03:05.912361,None,14,36,None,Azadi,
18,37,Milad tower is one the highest tower in the world,2023-04-20 20:03:55.567513,None,14,37,None,Milad Tower,
19,38,my car is facing a problem in the Chamran highway,2023-04-20 20:05:49.518791,None,14,38,None,Chamran,
20,39,Valiasr street is very long,2023-04-20 20:06:33.629411,None,14,39,None,Valiasr,

In [90]:
import spacy

df['Adress'] = 0
# Load SpaCy's English model
nlp = spacy.load('en_core_web_sm')

# Define the input text
for i in range(df.shape[0]):
    text = df['message'][i]
    doc = nlp(text)
    for entity in doc.ents:
    # Check if the entity is a location
        if entity.label_ == 'LOC' or entity.label_ == 'GPE':
            df['Adress'][i]= entity.text

df

/tmp/ipykernel_816222/1816078026.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Adress'][i]= entity.text

,id,message,created_at,updated_at,created_by_id,topic_id,updated_by_id,Adress,image
0,19,It was very crowd from 17 to 20,2023-04-05 18:08:59.568194,None,2,18,None,0,MIT-Coding-Brain-01-press_0_BsdaAGw.jpg
1,20,Im agree with u,2023-04-05 19:31:04.263294,None,3,18,None,0,
2,21,The hospital was dirty and the crowd,2023-04-06 09:54:43.534209,None,10,20,None,0,download_LeuCf8s.png
3,22,Valiasr BRT line is always crowd and its buses...,2023-04-06 12:39:43.075281,None,11,21,None,0,University_of_Tehran_logo.svg_pzClTYJ.png
4,23,Im agree with you,2023-04-12 21:53:22.773388,None,11,20,None,0,
5,24,This is test message,2023-04-12 22:17:42.918956,None,12,22,None,0,MIT-Coding-Brain-01-press_0_PlvDsEm.jpg
6,25,Hi Im Ali\r\nand it is a test twit from me,2023-04-15 04:02:37.251020,None,13,25,None,0,MIT-Coding-Brain-01-press_0_jz82lWz.jpg
7,26,Test without iamge,2023-04-15 08:22:49.649064,None,2,26,None,0,
8,27,Test without iamge,2023-04-15 08:24:19.871846,None,2,27,None,0,
9,28,andvjlnv ldcvojsnv kjdncsjln lanv,2023-04-15 16:35:45.573260,None,2,28,None,0,
10,29,Im in 25 street in Thran and here i saw some r...,2023-04-19 16:57:11.431199,None,14,29,None,Thran,University_of_Tehran_logo.svg_U8LLumW.png
11,30,The Thiefs are stealing student cellphones and...,2023-04-20 19:00:57.763404,None,14,30,None,0,University_of_Tehran_logo.svg_qCcufWc.png
12,31,University of Tehran is one of the most import...,2023-04-20 19:55:52.400062,None,14,31,None,0,
13,32,University of Science and Technology is in the...,2023-04-20 19:57:02.976854,None,14,32,None,Tehran,
14,33,Amirkabir University is one of the best techni...,2023-04-20 19:58:28.313607,None,14,33,None,0,
15,34,Sharif university of technology is the best un...,2023-04-20 19:59:21.748765,None,14,34,None,Iran,
16,35,Enghelab Square in Tehran was really crowd,2023-04-20 20:02:23.193787,None,14,35,None,Tehran,
17,36,Today i was in Azadi twoer it is a great place...,2023-04-20 20:03:05.912361,None,14,36,None,0,
18,37,Milad tower is one the highest tower in the world,2023-04-20 20:03:55.567513,None,14,37,None,0,
19,38,my car is facing a problem in the Chamran highway,2023-04-20 20:05:49.518791,None,14,38,None,0,
20,39,Valiasr street is very long,2023-04-20 20:06:33.629411,None,14,39,None,Valiasr,

In [91]:
# !pip install geopy

In [92]:
df.columns

Index(['id', 'message', 'created_at', 'updated_at', 'created_by_id',
       'topic_id', 'updated_by_id', 'Adress', 'image'],
      dtype='object')

In [93]:
df = df.loc[df['Adress'] != 0]

In [94]:
df

,id,message,created_at,updated_at,created_by_id,topic_id,updated_by_id,Adress,image
10,29,Im in 25 street in Thran and here i saw some r...,2023-04-19 16:57:11.431199,None,14,29,None,Thran,University_of_Tehran_logo.svg_U8LLumW.png
13,32,University of Science and Technology is in the...,2023-04-20 19:57:02.976854,None,14,32,None,Tehran,
15,34,Sharif university of technology is the best un...,2023-04-20 19:59:21.748765,None,14,34,None,Iran,
16,35,Enghelab Square in Tehran was really crowd,2023-04-20 20:02:23.193787,None,14,35,None,Tehran,
20,39,Valiasr street is very long,2023-04-20 20:06:33.629411,None,14,39,None,Valiasr,

In [95]:
from geopy.geocoders import Nominatim
import pandas as pd

# Connect to database and fetch data into a pandas dataframe
# For example:
# df = pd.read_sql_query('SELECT * FROM my_table', con=my_db_connection)

# Initialize geocoder
geolocator = Nominatim(user_agent="my_application")

# Define function to geocode addresses
def geocode(address):
    location = geolocator.geocode(address)
    if location is not None:
        return location.latitude, location.longitude
    else:
        return None, None

# Apply geocoding function to address column in dataframe
df['latitude'], df['longitude'] = zip(*df['Adress'].apply(geocode))

/tmp/ipykernel_816222/3562126818.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['latitude'], df['longitude'] = zip(*df['Adress'].apply(geocode))
/tmp/ipykernel_816222/3562126818.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['latitude'], df['longitude'] = zip(*df['Adress'].apply(geocode))

In [96]:
df = df[['message','Adress','latitude','longitude']]
df

,message,Adress,latitude,longitude
10,Im in 25 street in Thran and here i saw some r...,Thran,35.689252,51.389600
13,University of Science and Technology is in the...,Tehran,35.689252,51.389600
15,Sharif university of technology is the best un...,Iran,32.647531,54.564352
16,Enghelab Square in Tehran was really crowd,Tehran,35.689252,51.389600
20,Valiasr street is very long,Valiasr,38.058054,46.360185

In [101]:
import folium
map = folium.Map(location=[df['latitude'].mean(), df['longitude'].mean()], zoom_start=10)

# Add markers for each location with a popup message containing the message text
for index, row in df.iterrows():
    popup_html = f'<div style="display: flex; flex-direction: row; align-items: center;"><p style="margin-right: 10px;">{row["message"]}</p></div>'
    popup_text = row['message']
    popup = folium.Popup(popup_html, max_width=100000, max_height=1000)
    marker = folium.Marker([row['latitude'], row['longitude']], popup=popup_text)
    marker.add_to(map)

# Display the map
map.save('my_map.html')

In [98]:
print(entity.text)

Valiasr

In [ ]:
import schedule
import time

def my_job():
    # put your code here
    print("Job running...")

schedule.every(1).minutes.do(my_job)

while True:
    schedule.run_pending()
    time.sleep(1)